[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tox = "*"
mock = "*"

[packages]
requests = "*"
six = "==1.10.0"
mock = "*"
tox-pipenv = "*"

[requires]
python_version = "2.7"
